header {
    background-color: darkgreen;
    border-bottom: 20px solid orange;

}

footer {
    position: fixed;
    bottom: 0px;
    background-color: darkgreen;
}

#main-picture {
    border: 10px solid red;
}

.box {
    position: relative;
    left: 45%;
}
